# APIs Lab
In this lab we will practice using APIs to retrieve and store data.

In [1]:
# Imports at the top
import json
import urllib
import pandas as pd
import numpy as np
import requests
import re

## Exercise 1: Get Data From Sheetsu

[Sheetsu](https://sheetsu.com/) is an online service that allows you to access any Google spreadsheet from an API. This can be a very powerful way to share a dataset with colleagues as well as to create a mini centralized data storage, that is simpler to edit than a database.

A Google Spreadsheet with Wine data can be found [here]().

It can be accessed through sheetsu API at this endpoint: https://sheetsu.com/apis/v1.0/dab55afd

Questions:

1. Use the requests library to access the document. Inspect the response text. What kind of data is it?
> Answer: it's a JSON string
- Check the status code of the response object. What code is it?
> 200
- Use the appropriate libraries and read functions to read the response into a Pandas Dataframe
> Possible answers include: pd.read_json and json.loads + pd.Dataframe
- Once you've imported the data into a dataframe, check the value of the 5th line: what's the price?
> 6

In [2]:
api_url = 'https://sheetsu.com/apis/v1.0/dab55afd'
req = requests.get(api_url)
print req.status_code

200

In [3]:
data = pd.read_json(api_url)
data.Price[4]

u'6'

In [4]:
response = json.loads(req.text)
response[0]

{u'Color': u'W',
 u'Consumed In': u'2015',
 u'Country': u'Portugal',
 u'Grape': u'',
 u'Name': u'',
 u'Price': u'',
 u'Region': u'Portugal',
 u'Score': u'4',
 u'Vintage': u'2013',
 u'Vinyard': u'Vinho Verde'}

### Exercise 2: Post Data to Sheetsu
Now that we've learned how to read data, it'd be great if we could also write data. For this we will need to use a _POST_ request.

1. Use the post command to add the following data to the spreadsheet:

In [5]:
post_data = {
'Grape' : ''
, 'Name' : 'My wonderful wine'
, 'Color' : 'R'
, 'Country' : 'US'
, 'Region' : 'Sonoma'
, 'Vinyard' : ''
, 'Score' : '10'
, 'Consumed In' : '2015'
, 'Vintage' : '1973'
, 'Price' : '200'
}

In [6]:
requests.post(api_url, data=post_data)

1. What status did you get? How can you check that you actually added the data correctly?
- In this exercise, your classmates are adding data to the same spreadsheet. What happens because of this? Is it a problem? How could you mitigate it?

## Exercise 3: Data munging

Get back to the dataframe you've created in the beginning. Let's do some data munging:

1. Search for missing data
    - Is there any missing data? How do you deal with it?
    - Is there any data you can just remove?
- Summarize the data 
    - Try using describe, min, max, mean, var

In [7]:
data = data.replace('', np.nan)

In [8]:
data.head(2)

,Color,Consumed In,Country,Grape,Name,Price,Region,Score,Vintage,Vinyard
0,W,2015,Portugal,NaN,NaN,NaN,Portugal,4,2013,Vinho Verde
1,W,2015,France,NaN,NaN,17.8,France,3,2013,Peyruchet

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 188
Data columns (total 10 columns):
Color          189 non-null object
Consumed In    189 non-null object
Country        187 non-null object
Grape          23 non-null object
Name           180 non-null object
Price          183 non-null object
Region         188 non-null object
Score          188 non-null object
Vintage        189 non-null object
Vinyard        36 non-null object
dtypes: object(10)
memory usage: 16.2+ KB

In [10]:
data.describe()

,Color,Consumed In,Country,Grape,Name,Price,Region,Score,Vintage,Vinyard
count,189,189,187,23,180,183,188,188,189,36
unique,5,12,9,17,44,23,23,11,12,31
top,R,2015,US,sauvignon blanc,My wonderful wine,200,Sonoma,10,1973,Top of the line wine
freq,169,165,167,4,121,151,150,153,148,3

## Exercise 4: IMDB Movies

Sometimes an API doesn't provide all the information we would like to get and we need to be creative.
Here we will use a combination of scraping and API calls to investigate the ratings and gross earnings of famous movies.

## 4.a Get top movies

The Internet Movie Database contains data about movies. Unfortunately it does not have a public API.

The page http://www.imdb.com/chart/top contains the list of the top 250 movies of all times. Retrieve the page using the requests library and then parse the html to obtain a list of the `movie_ids` for these movies. You can parse it with regular expression or using a library like `BeautifulSoup`.

**Hint:** movie_ids look like this: `tt2582802`

In [14]:
import bs4
url = 'http://www.imdb.com/chart/top'
respon = requests.get(url)
#bs = bs4.BeautifulSoup(respon.text, 'html')
entries = re.findall("<a href.*?/title/(.*?)/", respon.text)
entries = list(set(entries))

In [15]:
len(entries)

250

In [16]:
entries

[u'tt2582802',
 u'tt0047478',
 u'tt0082971',
 u'tt0050212',
 u'tt0848228',
 u'tt1663202',
 u'tt0338564',
 u'tt0046268',
 u'tt0055630',
 u'tt0266543',
 u'tt0042192',
 u'tt0198781',
 u'tt1979320',
 u'tt0405159',
 u'tt0057115',
 u'tt0253474',
 u'tt0071315',
 u'tt0114746',
 u'tt0363163',
 u'tt0119217',
 u'tt1865505',
 u'tt0074896',
 u'tt1895587',
 u'tt0347149',
 u'tt0021749',
 u'tt0119488',
 u'tt1187043',
 u'tt0050613',
 u'tt0053125',
 u'tt0268978',
 u'tt0112471',
 u'tt2084970',
 u'tt1220719',
 u'tt0025316',
 u'tt2015381',
 u'tt0118849',
 u'tt0083922',
 u'tt0088247',
 u'tt0468569',
 u'tt0087843',
 u'tt0072684',
 u'tt2024544',
 u'tt0074958',
 u'tt0325980',
 u'tt0052618',
 u'tt0364569',
 u'tt0081398',
 u'tt0036775',
 u'tt0120382',
 u'tt0110357',
 u'tt0079470',
 u'tt0071853',
 u'tt0095765',
 u'tt0075148',
 u'tt0978762',
 u'tt1255953',
 u'tt0036868',
 u'tt0080678',
 u'tt0093779',
 u'tt0108052',
 u'tt0056592',
 u'tt0088763',
 u'tt0095327',
 u'tt0482571',
 u'tt0053291',
 u'tt0245712',
 u'tt0407887',
 u'tt0044741',
 u'tt1130884',
 u'tt1201607',
 u'tt0120586',
 u'tt0114814',
 u'tt0046438',
 u'tt0107048',
 u'tt0015864',
 u'tt0107207',
 u'tt0045152',
 u'tt2948356',
 u'tt0167261',
 u'tt0167260',
 u'tt0095016',
 u'tt0046911',
 u'tt0172495',
 u'tt0050986',
 u'tt0046912',
 u'tt0091251',
 u'tt0993846',
 u'tt0078748',
 u'tt2106476',
 u'tt0012349',
 u'tt0372784',
 u'tt0101414',
 u'tt0113247',
 u'tt0107290',
 u'tt0469494',
 u'tt0070735',
 u'tt0032553',
 u'tt0032551',
 u'tt0052357',
 u'tt0361748',
 u'tt0440963',
 u'tt0435761',
 u'tt0317248',
 u'tt1049413',
 u'tt0060827',
 u'tt0266697',
 u'tt0264464',
 u'tt0211915',
 u'tt0031679',
 u'tt0080684',
 u'tt0892769',
 u'tt0401792',
 u'tt3659388',
 u'tt0056172',
 u'tt0102926',
 u'tt0053198',
 u'tt1853728',
 u'tt0032138',
 u'tt2096673',
 u'tt0050825',
 u'tt0042876',
 u'tt0083987',
 u'tt0245429',
 u'tt0086190',
 u'tt1832382',
 u'tt0044079',
 u'tt0041546',
 u'tt0180093',
 u'tt0114369',
 u'tt0133093',
 u'tt0091763',
 u'tt0246578',
 u'tt0167404',
 u'tt0092067',
 u'tt0090605',
 u'tt0120737',
 u'tt0120735',
 u'tt1205489',
 u'tt1954470',
 u'tt1305806',
 u'tt0083658',
 u'tt0110413',
 u'tt0058461',
 u'tt0119698',
 u'tt0068646',
 u'tt1392190',
 u'tt0120689',
 u'tt0057012',
 u'tt0096283',
 u'tt0086879',
 u'tt0064116',
 u'tt0114709',
 u'tt1431045',
 u'tt0022100',
 u'tt3011894',
 u'tt0105236',
 u'tt0081505',
 u'tt0038650',
 u'tt0041959',
 u'tt0034583',
 u'tt1345836',
 u'tt2488496',
 u'tt0058946',
 u'tt0054215',
 u'tt0816692',
 u'tt0046250',
 u'tt0078788',
 u'tt2267998',
 u'tt0033870',
 u'tt0112573',
 u'tt3170832',
 u'tt0097576',
 u'tt0040897',
 u'tt0062622',
 u'tt1291584',
 u'tt0019254',
 u'tt0066921',
 u'tt0061512',
 u'tt0033467',
 u'tt0050783',
 u'tt0169102',
 u'tt0017925',
 u'tt0137523',
 u'tt0405094',
 u'tt1504320',
 u'tt0064115',
 u'tt0055031',
 u'tt0084787',
 u'tt0087544',
 u'tt0113277',
 u'tt0105695',
 u'tt0353969',
 u'tt0050083',
 u'tt0758758',
 u'tt0110912',
 u'tt0018455',
 u'tt1675434',
 u'tt0082096',
 u'tt0434409',
 u'tt0117951',
 u'tt0077416',
 u'tt0910970',
 u'tt0027977',
 u'tt0338013',
 u'tt2278388',
 u'tt1454029',
 u'tt0099685',
 u'tt0457430',
 u'tt0060196',
 u'tt0112641',
 u'tt0050976',
 u'tt0092005',
 u'tt0017136',
 u'tt0111161',
 u'tt0040522',
 u'tt0071562',
 u'tt0118715',
 u'tt0052311',
 u'tt0116282',
 u'tt0047396',
 u'tt0043014',
 u'tt0079944',
 u'tt0093058',
 u'tt0053604',
 u'tt0109830',
 u'tt0118799',
 u'tt0073195',
 u'tt0169547',
 u'tt1392214',
 u'tt0051201',
 u'tt0075686',
 u'tt0032976',
 u'tt1375666',
 u'tt0059578',
 u'tt0072890',
 u'tt0076759',
 u'tt0103064',
 u'tt0056801',
 u'tt0395169',
 u'tt0031381',
 u'tt0477348',
 u'tt0047296',
 u'tt1028532',
 u'tt0120815',
 u'tt0086250',
 u'tt0073486',
 u'tt0209144',
 u'tt0208092',
 u'tt0089881',
 u'tt0075314']

## 4.b Get top movies data

Although the Internet Movie Database does not have a public API, an open API exists at http://www.omdbapi.com.

Use this API to retrieve information about each of the 250 movies you have extracted in the previous step.
- Check the documentation of omdbapi.com to learn how to request movie data by id
- Define a function that returns a python object with all the information for a given id
- Iterate on all the IDs and store the results in a list of such objects
- Create a Pandas Dataframe from the list

In [17]:
def get_entry(entry):
    res = requests.get('http://www.omdbapi.com/?i=' + entry)
    if res.status_code != 200:
        print entry, res.status_code
    else:
        print '.',
    try:
        j = json.loads(res.text)
    except ValueError:
        j = None
    return j

In [18]:
entries_dict_list = [get_entry(e) for e in entries]

. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [19]:
len(entries_dict_list)

250

In [20]:
df = pd.DataFrame(entries_dict_list)

In [26]:
df.head(5)

,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Poster,Rated,Released,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes
0,"Miles Teller, J.K. Simmons, Paul Reiser, Melis...",Won 3 Oscars. Another 87 wins & 131 nominations.,USA,Damien Chazelle,"Drama, Music",English,88,A promising young drummer enrolls at a cut-thr...,https://images-na.ssl-images-amazon.com/images...,R,15 Oct 2014,True,107 min,Whiplash,movie,Damien Chazelle,2014,tt2582802,8.5,"413,720"
1,"Toshirô Mifune, Takashi Shimura, Keiko Tsushim...",Nominated for 2 Oscars. Another 5 wins & 6 nom...,Japan,Akira Kurosawa,"Action, Adventure, Drama",Japanese,98,A poor village under attack by bandits recruit...,https://images-na.ssl-images-amazon.com/images...,UNRATED,19 Nov 1956,True,207 min,Seven Samurai,movie,"Akira Kurosawa (screenplay), Shinobu Hashimoto...",1954,tt0047478,8.7,"232,249"
2,"Harrison Ford, Karen Allen, Paul Freeman, Rona...",Won 4 Oscars. Another 30 wins & 23 nominations.,USA,Steven Spielberg,"Action, Adventure","English, German, Hebrew, Spanish, Arabic, Nepali",85,Archaeologist and adventurer Indiana Jones is ...,http://ia.media-imdb.com/images/M/MV5BMjA0ODEz...,PG,12 Jun 1981,True,115 min,Raiders of the Lost Ark,movie,"Lawrence Kasdan (screenplay), George Lucas (st...",1981,tt0082971,8.5,"665,774"
3,"William Holden, Alec Guinness, Jack Hawkins, S...",Won 7 Oscars. Another 23 wins & 7 nominations.,"UK, USA",David Lean,"Adventure, Drama, War","English, Japanese, Thai",N/A,After settling his differences with a Japanese...,https://images-na.ssl-images-amazon.com/images...,PG,14 Dec 1957,True,161 min,The Bridge on the River Kwai,movie,"Pierre Boulle (novel), Carl Foreman (screenpla...",1957,tt0050212,8.2,"151,604"
4,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",Nominated for 1 Oscar. Another 34 wins & 75 no...,USA,Joss Whedon,"Action, Sci-Fi, Thriller","English, Russian",69,Earth's mightiest heroes must come together an...,http://ia.media-imdb.com/images/M/MV5BMTk2NTI1...,PG-13,04 May 2012,True,143 min,The Avengers,movie,"Joss Whedon (screenplay), Zak Penn (story), Jo...",2012,tt0848228,8.1,"1,003,301"

## 4.c Data munging

- Now that you have movie information and gross revenue information, let's clean the two datasets.
- Check if there are null values. Be careful they may appear to be valid strings.
- Convert the columns to the appropriate formats. In particular handle:
    - Released
    - Runtime
    - year
    - imdbRating
    - imdbVotes
- Merge the data from the two datasets into a single one

In [27]:
df = df.replace('N/A', np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 20 columns):
Actors        250 non-null object
Awards        246 non-null object
Country       250 non-null object
Director      250 non-null object
Genre         250 non-null object
Language      249 non-null object
Metascore     168 non-null object
Plot          250 non-null object
Poster        244 non-null object
Rated         249 non-null object
Released      249 non-null object
Response      250 non-null object
Runtime       250 non-null object
Title         250 non-null object
Type          250 non-null object
Writer        250 non-null object
Year          250 non-null object
imdbID        250 non-null object
imdbRating    250 non-null object
imdbVotes     250 non-null object
dtypes: object(20)
memory usage: 39.1+ KB

In [28]:
df.Released = pd.to_datetime(df.Released)

In [33]:
def no_min(x):
    y = x.replace('min', '').strip()
    return int(y)
df.Runtime = df.Runtime.apply(no_min)

In [38]:
df.Year = df.Year.astype(int)
df.imdbRating = df.imdbRating.astype(float)

In [39]:
def no_comma(x):
    y = x.replace(',', '').strip()
    return int(y)
df.imdbVotes = df.imdbVotes.apply(no_comma)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 20 columns):
Actors        250 non-null object
Awards        246 non-null object
Country       250 non-null object
Director      250 non-null object
Genre         250 non-null object
Language      249 non-null object
Metascore     168 non-null object
Plot          250 non-null object
Poster        244 non-null object
Rated         249 non-null object
Released      249 non-null datetime64[ns]
Response      250 non-null object
Runtime       250 non-null int64
Title         250 non-null object
Type          250 non-null object
Writer        250 non-null object
Year          250 non-null int64
imdbID        250 non-null object
imdbRating    250 non-null float64
imdbVotes     250 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(15)
memory usage: 39.1+ KB

## 4.d Text vectorization

There are several columns in the data that contain a comma separated list of items, for example the Genre column and the Actors column. Let's transform those to binary columns using the count vectorizer from scikit learn.

Append these columns to the merged dataframe.

**Hint:** In order to get the actors name right, you'll have to modify the `token_pattern` in the `CountVectorizer`.

## Bonus:

- What are the top 10 grossing movies?
- Who are the 10 actors that appear in the most movies?
- What genre is the oldest movie?