In [1]:
%matplotlib inline
import pandas

In [23]:
drinks = pandas.read_csv('national-drinking-habits.csv')
drinks.country

0               Afghanistan
1                   Albania
2                   Algeria
3                   Andorra
4                    Angola
5         Antigua & Barbuda
6                 Argentina
7                   Armenia
8                 Australia
9                   Austria
10               Azerbaijan
11                  Bahamas
12                  Bahrain
13               Bangladesh
14                 Barbados
15                  Belarus
16                  Belgium
17                   Belize
18                    Benin
19                   Bhutan
20                  Bolivia
21       Bosnia-Herzegovina
22                 Botswana
23                   Brazil
24                   Brunei
25                 Bulgaria
26             Burkina Faso
27                  Burundi
28            Cote d'Ivoire
29               Cabo Verde
               ...
163                Suriname
164               Swaziland
165                  Sweden
166             Switzerland
167                   Syria
168              Tajikistan
169                Thailand
170               Macedonia
171             Timor-Leste
172                    Togo
173                   Tonga
174       Trinidad & Tobago
175                 Tunisia
176                  Turkey
177            Turkmenistan
178                  Tuvalu
179                  Uganda
180                 Ukraine
181    United Arab Emirates
182          United Kingdom
183                Tanzania
184                     USA
185                 Uruguay
186              Uzbekistan
187                 Vanuatu
188               Venezuela
189                 Vietnam
190                   Yemen
191                  Zambia
192                Zimbabwe
Name: country, dtype: object

In [18]:
wiki_page = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
dfs = pandas.read_html(wiki_page)

In [5]:
len(dfs)

4

In [6]:
dfs[0].shape

(1, 2)

In [7]:
dfs[0]

    0                                                  1
0 NaN  This article's factual accuracy is disputed. P...

In [11]:
dfs[1].shape

(1, 2)

In [12]:
dfs[1]

    0                                                  1
0 NaN  This article possibly contains original resear...

In [13]:
dfs[2].shape

(251, 6)

In [14]:
dfs[3].shape

(25, 2)

In [15]:
dfs[3]

,0,1
0,v t e Lists of countries by population statistics,NaN
1,NaN,NaN
2,World population,Current population Current population (United ...
3,NaN,NaN
4,Continental,Asia Africa Europe North America Oceania South...
5,NaN,NaN
6,Regional,Americas Arab world Caribbean Commonwealth of ...
7,NaN,NaN
8,Cities,National capitals Cities proper Metropolitan a...
9,NaN,NaN
10,Past population,Past population (United Nations) Past and futu...
11,NaN,NaN
12,Population density,Current density Current real density based on ...
13,NaN,NaN
14,Growth indicators,Population growth rate Natural increase Birth ...
15,NaN,NaN
16,Other demographics,Age at first marriage Divorce rate Domestic ci...
17,NaN,NaN
18,Health,Antiviral medications for pandemic influenza H...
19,NaN,NaN
20,Education and innovation,Bloomberg Innovation Index Education Index Gra...
21,NaN,NaN
22,Economic,Development aid given Foreign aid received Emp...
23,NaN,NaN
24,List of international rankings List of top int...,NaN

In [16]:
dfs[2]

,0,1,2,3,4,5
0,Rank,Country (or dependent territory),Population,Date,% of world population,Source
1,1,China[Note 2],1378640000,"September 8, 2016",18.8%,Official population clock
2,2,India,1330730000,"September 8, 2016",18.1%,Official population clock
3,3,United States[Note 3],324429000,"September 8, 2016",4.42%,Official population clock
4,4,Indonesia,260581000,"July 1, 2016",3.55%,Official projection
5,5,Brazil,206625000,"September 8, 2016",2.81%,Official population clock
6,6,Pakistan,194196000,"September 8, 2016",2.64%,Official population clock
7,7,Nigeria,186988000,"July 1, 2016",2.55%,UN Projection
8,8,Bangladesh,161047000,"September 8, 2016",2.19%,Official population clock
9,9,Russia[Note 4],146640000,"May 1, 2016",2%,Official estimate
10,10,Mexico,128632000,"July 1, 2016",1.75%,Official projection
11,11,Japan,127000000,"August 1, 2016",1.73%,Monthly provisional estimate
12,12,Philippines,102981000,"September 8, 2016",1.4%,Official population clock
13,13,Vietnam,92700000,"July 1, 2016",1.26%,Annual official projection
14,14,Ethiopia,92206005,"July 1, 2016",1.26%,Official projection
15,15,Egypt,91545900,"September 8, 2016",1.25%,Official population clock
16,16,Democratic Republic of the Congo,82310000,"July 1, 2016",1.12%,Official estimate
17,17,Germany,82175700,"December 30, 2015",1.12%,Official estimate
18,18,Iran,79519600,"September 8, 2016",1.08%,Official population clock
19,19,Turkey,78742000,"December 31, 2015",1.07%,Annual official estimate
20,20,France[Note 5],66736000,"July 1, 2016",0.88%,Monthly official estimate
21,21,Thailand,65729098,"December 31, 2015",0.89%,Annual official estimate
22,22,United Kingdom,65110000,"July 1, 2015",0.89%,Annual official estimate
23,23,Italy,60665551,"January 1, 2016",0.83%,Official estimate
24,24,South Africa,55653654,"July 1, 2016",0.76%,Annual official estimate
25,25,Tanzania[Note 6],55155000,"July 1, 2016",0.75%,UN projection
26,26,Myanmar,54363426,"July 1, 2016",0.74%,UN projection
27,27,South Korea,50617045,"January 6, 2016",0.69%,Annual official estimate
28,28,Colombia,48827400,"September 8, 2016",0.665%,Official population clock
29,29,Kenya,47251000,"July 1, 2016",0.64%,UN projection
...,...,...,...,...,...,...
221,188,Saint Kitts and Nevis,46204,"May 15, 2011",0.00063%,2011 census result
222,189,Monaco,38400,"December 31, 2015",0.00052%,Annual official estimate
223,--,Sint Maarten (Netherlands),38247,"January 1, 2015",0.00052%,Official estimate
224,190,Liechtenstein,37623,"December 31, 2015",0.00051%,Semi annual official estimate
225,--,Saint-Martin (France),36457,"January 1, 2015",0.0005%,Annual official estimate
226,--,Gibraltar (UK),33140,"December 31, 2014",0.00045%,Annual official estimate
227,191,San Marino,33005,"December 31, 2015",0.00045%,Monthly official estimate
228,--,Turks and Caicos Islands (UK),31458,"January 25, 2012",0.00043%,2012 census result
229,--,British Virgin Islands (UK),28514,"July 1, 2013",0.00039%,Official estimate
230,--,Bonaire (Netherlands),18905,"January 1, 2015",0.00026%,Official estimate
231,--,Cook Islands,18100,"March 1, 2016",0.00025%,Official quarterly estimate
232,192,Palau,17950,"July 1, 2015",0.00024%,Annual official estimate
233,--,Anguilla (UK),13452,"May 11, 2011",0.00018%,Preliminary 2011 census result
234,--,Wallis and Futuna (France),11750,"July 1, 2015",0.00016%,Annual official estimate
235,193,Tuvalu,10640,"November 4, 2012",0.00014%,2012 census result
236,194,Nauru,10084,"October 30, 2011",0.00014%,2011 census result
237,--,Saint Barthélemy (France),9417,"January 1, 2015",0.00013%,Annual official estimate
238,--,Saint Pierre and Miquelon (France),6286,"January 1, 2015",0.000086%,Annual official estimate
239,--,Montserrat (UK),4922,"May 12, 2011",0.000067%,2011 census result
240,--,"Saint Helena, Ascension and Tristan da Cunha (UK)",4255,"February 10, 2008",0.000058%,2008 census result
241,--,Sint Eustatius (Netherlands),3877,"January 1, 2015",0.000053%,Official estimate
242,--,Falkland Islands (UK),2563,"April 15, 2012",0.000035%,2012 census result
243,--,Norfolk Island (Australia),2302,"August 9, 2011",0.000031%,2011 census result
244,--,Christmas Island (Australia),2072,"August 9, 2011",0.000028%,2011 census result
245,--,Saba (Netherlands),1811,"January 1, 2015",0.000025%,Official estimate
246,--,Niue,1470,"July 1, 2015",0.000020%,Annual official estimate
247,--,Tokelau (NZ),1411,"October 18, 2011",0.000019%,2011 census result
248,195,Vatican City,842,"January 1, 2014",0.000011%,Official estimate
249,--,Cocos (Keeling) Islands (Australia),550,"August 9, 2011",0.0000075%,2011 census result
250,--,Pitcairn Islands (UK),56,"July 1, 2014",0.00000076%,Official estimate

In [17]:
pandas.read_html?

In [21]:
dfs = pandas.read_html(wiki_page, header=0, index_col=0)

In [22]:
dfs[2]

,Country (or dependent territory),Population,Date,% of world population,Source
Rank,,,,,
1,China[Note 2],1378640000,"September 8, 2016",18.8%,Official population clock
2,India,1330730000,"September 8, 2016",18.1%,Official population clock
3,United States[Note 3],324429000,"September 8, 2016",4.42%,Official population clock
4,Indonesia,260581000,"July 1, 2016",3.55%,Official projection
5,Brazil,206625000,"September 8, 2016",2.81%,Official population clock
6,Pakistan,194196000,"September 8, 2016",2.64%,Official population clock
7,Nigeria,186988000,"July 1, 2016",2.55%,UN Projection
8,Bangladesh,161047000,"September 8, 2016",2.19%,Official population clock
9,Russia[Note 4],146640000,"May 1, 2016",2%,Official estimate
10,Mexico,128632000,"July 1, 2016",1.75%,Official projection
11,Japan,127000000,"August 1, 2016",1.73%,Monthly provisional estimate
12,Philippines,102981000,"September 8, 2016",1.4%,Official population clock
13,Vietnam,92700000,"July 1, 2016",1.26%,Annual official projection
14,Ethiopia,92206005,"July 1, 2016",1.26%,Official projection
15,Egypt,91545900,"September 8, 2016",1.25%,Official population clock
16,Democratic Republic of the Congo,82310000,"July 1, 2016",1.12%,Official estimate
17,Germany,82175700,"December 30, 2015",1.12%,Official estimate
18,Iran,79519600,"September 8, 2016",1.08%,Official population clock
19,Turkey,78742000,"December 31, 2015",1.07%,Annual official estimate
20,France[Note 5],66736000,"July 1, 2016",0.88%,Monthly official estimate
21,Thailand,65729098,"December 31, 2015",0.89%,Annual official estimate
22,United Kingdom,65110000,"July 1, 2015",0.89%,Annual official estimate
23,Italy,60665551,"January 1, 2016",0.83%,Official estimate
24,South Africa,55653654,"July 1, 2016",0.76%,Annual official estimate
25,Tanzania[Note 6],55155000,"July 1, 2016",0.75%,UN projection
26,Myanmar,54363426,"July 1, 2016",0.74%,UN projection
27,South Korea,50617045,"January 6, 2016",0.69%,Annual official estimate
28,Colombia,48827400,"September 8, 2016",0.665%,Official population clock
29,Kenya,47251000,"July 1, 2016",0.64%,UN projection
30,Spain,46438422,"January 1, 2016",0.63%,Official estimate
...,...,...,...,...,...
188,Saint Kitts and Nevis,46204,"May 15, 2011",0.00063%,2011 census result
189,Monaco,38400,"December 31, 2015",0.00052%,Annual official estimate
--,Sint Maarten (Netherlands),38247,"January 1, 2015",0.00052%,Official estimate
190,Liechtenstein,37623,"December 31, 2015",0.00051%,Semi annual official estimate
--,Saint-Martin (France),36457,"January 1, 2015",0.0005%,Annual official estimate
--,Gibraltar (UK),33140,"December 31, 2014",0.00045%,Annual official estimate
191,San Marino,33005,"December 31, 2015",0.00045%,Monthly official estimate
--,Turks and Caicos Islands (UK),31458,"January 25, 2012",0.00043%,2012 census result
--,British Virgin Islands (UK),28514,"July 1, 2013",0.00039%,Official estimate
--,Bonaire (Netherlands),18905,"January 1, 2015",0.00026%,Official estimate
--,Cook Islands,18100,"March 1, 2016",0.00025%,Official quarterly estimate
192,Palau,17950,"July 1, 2015",0.00024%,Annual official estimate
--,Anguilla (UK),13452,"May 11, 2011",0.00018%,Preliminary 2011 census result
--,Wallis and Futuna (France),11750,"July 1, 2015",0.00016%,Annual official estimate
193,Tuvalu,10640,"November 4, 2012",0.00014%,2012 census result
194,Nauru,10084,"October 30, 2011",0.00014%,2011 census result
--,Saint Barthélemy (France),9417,"January 1, 2015",0.00013%,Annual official estimate
--,Saint Pierre and Miquelon (France),6286,"January 1, 2015",0.000086%,Annual official estimate
--,Montserrat (UK),4922,"May 12, 2011",0.000067%,2011 census result
--,"Saint Helena, Ascension and Tristan da Cunha (UK)",4255,"February 10, 2008",0.000058%,2008 census result
--,Sint Eustatius (Netherlands),3877,"January 1, 2015",0.000053%,Official estimate
--,Falkland Islands (UK),2563,"April 15, 2012",0.000035%,2012 census result
--,Norfolk Island (Australia),2302,"August 9, 2011",0.000031%,2011 census result
--,Christmas Island (Australia),2072,"August 9, 2011",0.000028%,2011 census result
--,Saba (Netherlands),1811,"January 1, 2015",0.000025%,Official estimate
--,Niue,1470,"July 1, 2015",0.000020%,Annual official estimate
--,Tokelau (NZ),1411,"October 18, 2011",0.000019%,2011 census result
195,Vatican City,842,"January 1, 2014",0.000011%,Official estimate
--,Cocos (Keeling) Islands (Australia),550,"August 9, 2011",0.0000075%,2011 census result
--,Pitcairn Islands (UK),56,"July 1, 2014",0.00000076%,Official estimate

In [24]:
ugly_country_names = dfs[2]['Country (or dependent territory)']

In [26]:
ugly_country_names

Rank
1                                          China[Note 2]
2                                                  India
3                                  United States[Note 3]
4                                              Indonesia
5                                                 Brazil
6                                               Pakistan
7                                                Nigeria
8                                             Bangladesh
9                                         Russia[Note 4]
10                                                Mexico
11                                                 Japan
12                                           Philippines
13                                               Vietnam
14                                              Ethiopia
15                                                 Egypt
16                      Democratic Republic of the Congo
17                                               Germany
18                                                  Iran
19                                                Turkey
20                                        France[Note 5]
21                                              Thailand
22                                        United Kingdom
23                                                 Italy
24                                          South Africa
25                                      Tanzania[Note 6]
26                                               Myanmar
27                                           South Korea
28                                              Colombia
29                                                 Kenya
30                                                 Spain
                             ...
188                                Saint Kitts and Nevis
189                                               Monaco
--                            Sint Maarten (Netherlands)
190                                        Liechtenstein
--                                 Saint-Martin (France)
--                                        Gibraltar (UK)
191                                           San Marino
--                         Turks and Caicos Islands (UK)
--                           British Virgin Islands (UK)
--                                 Bonaire (Netherlands)
--                                          Cook Islands
192                                                Palau
--                                         Anguilla (UK)
--                            Wallis and Futuna (France)
193                                               Tuvalu
194                                                Nauru
--                             Saint Barthélemy (France)
--                    Saint Pierre and Miquelon (France)
--                                       Montserrat (UK)
--     Saint Helena, Ascension and Tristan da Cunha (UK)
--                          Sint Eustatius (Netherlands)
--                                 Falkland Islands (UK)
--                            Norfolk Island (Australia)
--                          Christmas Island (Australia)
--                                    Saba (Netherlands)
--                                                  Niue
--                                          Tokelau (NZ)
195                                         Vatican City
--                   Cocos (Keeling) Islands (Australia)
--                                 Pitcairn Islands (UK)
Name: Country (or dependent territory), dtype: object

In [30]:
ugly_country_names.str.extract('([A-Za-z -]*)')

Rank
1                                 China
2                                 India
3                         United States
4                             Indonesia
5                                Brazil
6                              Pakistan
7                               Nigeria
8                            Bangladesh
9                                Russia
10                               Mexico
11                                Japan
12                          Philippines
13                              Vietnam
14                             Ethiopia
15                                Egypt
16     Democratic Republic of the Congo
17                              Germany
18                                 Iran
19                               Turkey
20                               France
21                             Thailand
22                       United Kingdom
23                                Italy
24                         South Africa
25                             Tanzania
26                              Myanmar
27                          South Korea
28                             Colombia
29                                Kenya
30                                Spain
                     ...
188               Saint Kitts and Nevis
189                              Monaco
--                        Sint Maarten
190                       Liechtenstein
--                        Saint-Martin
--                           Gibraltar
191                          San Marino
--            Turks and Caicos Islands
--              British Virgin Islands
--                             Bonaire
--                         Cook Islands
192                               Palau
--                            Anguilla
--                   Wallis and Futuna
193                              Tuvalu
194                               Nauru
--                          Saint Barth
--           Saint Pierre and Miquelon
--                          Montserrat
--                         Saint Helena
--                      Sint Eustatius
--                    Falkland Islands
--                      Norfolk Island
--                    Christmas Island
--                                Saba
--                                 Niue
--                             Tokelau
195                        Vatican City
--                               Cocos
--                    Pitcairn Islands
Name: Country (or dependent territory), dtype: object

What we are wanting to do is collect everything up until the
first [ or (

So we need a regular expression that matches anything except for these
characters.

A regexp for matching just a letter is [A-Z]. A regexp for matching
a number is [0-9].

A regexp for matching anything other than a number is [^0-9]

A regexp for matching [ or ( only would be [[(], but we want the opposite,
so we want the regexp:

   [^[(]
   
And we want as many of these characters in a row that we can find, so
we add a * at the end.

   [^[(]*
   
Pandas captures the first group marked with (parentheses).

Thus...

   ([^[(]*)

In [32]:
ugly_country_names.str.extract('([^[(]*)')

Rank
1                                              China
2                                              India
3                                      United States
4                                          Indonesia
5                                             Brazil
6                                           Pakistan
7                                            Nigeria
8                                         Bangladesh
9                                             Russia
10                                            Mexico
11                                             Japan
12                                       Philippines
13                                           Vietnam
14                                          Ethiopia
15                                             Egypt
16                  Democratic Republic of the Congo
17                                           Germany
18                                              Iran
19                                            Turkey
20                                            France
21                                          Thailand
22                                    United Kingdom
23                                             Italy
24                                      South Africa
25                                          Tanzania
26                                           Myanmar
27                                       South Korea
28                                          Colombia
29                                             Kenya
30                                             Spain
                           ...
188                            Saint Kitts and Nevis
189                                           Monaco
--                                     Sint Maarten
190                                    Liechtenstein
--                                     Saint-Martin
--                                        Gibraltar
191                                       San Marino
--                         Turks and Caicos Islands
--                           British Virgin Islands
--                                          Bonaire
--                                      Cook Islands
192                                            Palau
--                                         Anguilla
--                                Wallis and Futuna
193                                           Tuvalu
194                                            Nauru
--                                 Saint Barthélemy
--                        Saint Pierre and Miquelon
--                                       Montserrat
--     Saint Helena, Ascension and Tristan da Cunha
--                                   Sint Eustatius
--                                 Falkland Islands
--                                   Norfolk Island
--                                 Christmas Island
--                                             Saba
--                                              Niue
--                                          Tokelau
195                                     Vatican City
--                                            Cocos
--                                 Pitcairn Islands
Name: Country (or dependent territory), dtype: object

In [34]:
populations = dfs[2].copy()
populations['Name'] = ugly_country_names.str.extract('([^[(]*)').str.strip()

In [37]:
populations[populations.Name == 'China'].Population.median()

1378640000.0

In [38]:
pandas.merge?

In [41]:
drinks.merge(populations)

MergeError: No common columns to perform merge on

In [45]:
drinks_extended = drinks.merge(populations, left_on='country', right_on='Name')
drinks_extended

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,Country (or dependent territory),Population,Date,% of world population,Source,Name
0,Afghanistan,0,0,0,0.0,AS,Afghanistan,27657145,"July 1, 2016",0.38%,Annual official estimate,Afghanistan
1,Albania,89,132,54,4.9,EU,Albania,2886026,"January 1, 2016",0.039%,Annual official estimate,Albania
2,Algeria,25,0,14,0.7,AF,Algeria,40400000,"July 1, 2016",0.55%,Official annual projection,Algeria
3,Andorra,245,138,312,12.4,EU,Andorra,78014,"December 31, 2015",0.0011%,Annual official estimate,Andorra
4,Angola,217,57,45,5.9,AF,Angola,24383301,"May 16, 2014",0.33%,Preliminary 2014 census result,Angola
5,Argentina,193,25,221,8.3,SA,Argentina,43590400,"July 1, 2016",0.59%,Official annual projection,Argentina
6,Armenia,21,179,11,3.8,EU,Armenia,2995100,"July 1, 2016",0.041%,Quarterly official estimate,Armenia
7,Australia,261,72,212,10.4,OC,Australia,24182100,"September 8, 2016",0.329%,Official population clock,Australia
8,Austria,279,75,191,9.7,EU,Austria,8741753,"July 1, 2016",0.119%,Quarterly provisional figure,Austria
9,Azerbaijan,21,46,5,1.3,EU,Azerbaijan,9755500,"July 1, 2016",0.13%,Official estimate,Azerbaijan
10,Bahamas,122,176,51,6.3,NaN,Bahamas,378040,"July 1, 2016",0.0051%,Official projection,Bahamas
11,Bahrain,42,63,7,2.0,AS,Bahrain,1404900,"July 1, 2016",0.019%,Official annual projection,Bahrain
12,Bangladesh,0,0,0,0.0,AS,Bangladesh,161047000,"September 8, 2016",2.19%,Official population clock,Bangladesh
13,Barbados,143,173,36,6.3,NaN,Barbados,285000,"July 1, 2016",0.0039%,UN projection,Barbados
14,Belarus,142,373,42,14.4,EU,Belarus,9498700,"April 1, 2016",0.129%,Quarterly official estimate,Belarus
15,Belgium,295,84,212,10.5,EU,Belgium,11323925,"July 1, 2016",0.15%,Monthly official estimate,Belgium
16,Belize,263,114,8,6.8,NaN,Belize,375909,"April 1, 2016",0.0051%,Official estimate,Belize
17,Benin,34,4,13,1.1,AF,Benin,10653654,"July 1, 2016",0.15%,Official projection,Benin
18,Bhutan,23,0,0,0.4,AS,Bhutan,777820,"September 8, 2016",0.0106%,Official population clock,Bhutan
19,Bolivia,167,41,8,3.8,SA,Bolivia,10985059,"July 1, 2016",0.15%,Official projection,Bolivia
20,Botswana,173,35,35,5.4,AF,Botswana,2230905,"July 1, 2016",0.03%,Official annual projection,Botswana
21,Brazil,245,145,16,7.2,SA,Brazil,206625000,"September 8, 2016",2.81%,Official population clock,Brazil
22,Brunei,31,2,1,0.6,AS,Brunei,411900,"July 1, 2014",0.0056%,Official estimate,Brunei
23,Bulgaria,231,252,94,10.3,EU,Bulgaria,7153784,"December 31, 2015",0.097%,Official estimate,Bulgaria
24,Burkina Faso,25,7,7,4.3,AF,Burkina Faso,19034397,"July 1, 2016",0.26%,Annual official projection,Burkina Faso
25,Burundi,88,0,0,6.3,AF,Burundi,10114505,"July 1, 2016",0.14%,Official annual projection,Burundi
26,Cambodia,57,65,1,2.2,AS,Cambodia,15626444,"July 1, 2016",0.21%,Official annual projection,Cambodia
27,Cameroon,147,1,4,5.8,AF,Cameroon,22709892,"July 1, 2016",0.31%,Annual official projection,Cameroon
28,Canada,240,122,100,8.2,NaN,Canada,36520100,"September 8, 2016",0.497%,Official estimate,Canada
29,Central African Republic,17,2,1,1.8,AF,Central African Republic,4998000,"July 1, 2016",0.068%,UN projection,Central African Republic
...,...,...,...,...,...,...,...,...,...,...,...,...
147,Spain,284,157,112,10.0,EU,Spain,46438422,"January 1, 2016",0.63%,Official estimate,Spain
148,Sri Lanka,16,104,0,2.2,AS,Sri Lanka,20966000,"July 1, 2015",0.29%,Official estimate,Sri Lanka
149,Sudan,8,13,0,1.7,AF,Sudan,41176000,"July 1, 2016",0.56%,Official annual projection,Sudan
150,Suriname,128,178,7,5.6,SA,Suriname,541638,"August 13, 2012",0.0074%,Final 2012 census result,Suriname
151,Swaziland,90,2,2,4.7,AF,Swaziland,1132657,"July 1, 2016",0.015%,Official projection,Swaziland
152,Sweden,152,60,186,7.2,EU,Sweden,9920881,"July 3, 2016",0.14%,Monthly official estimate,Sweden
153,Switzerland,185,100,280,10.2,EU,Switzerland,8341600,"March 31, 2016",0.114%,Quarterly provisional figure,Switzerland
154,Syria,5,35,16,1.0,AS,Syria,18564000,"July 1, 2016",0.25%,UN projection,Syria
155,Tajikistan,2,15,0,0.3,AS,Tajikistan,8551000,"January 1, 2016",0.116%,Official estimate,Tajikistan
156,Thailand,99,258,1,6.4,AS,Thailand,65729098,"December 31, 2015",0.89%,Annual official estimate,Thailand
157,Macedonia,106,27,86,3.9,EU,Macedonia,2071278,"December 31, 2015",0.028%,Official estimate,Macedonia
158,Togo,36,2,19,1.3,AF,Togo,7143000,"July 1, 2016",0.097%,Official estimate,Togo
159,Tonga,36,21,5,1.1,OC,Tonga,103252,"November 30, 2011",0.0014%,2011 census result,Tonga
160,Tunisia,51,3,20,1.3,AF,Tunisia,11154400,"July 1, 2015",0.15%,Official estimate,Tunisia
161,Turkey,51,22,7,1.4,AS,Turkey,78742000,"December 31, 2015",1.07%,Annual official estimate,Turkey
162,Turkmenistan,19,71,32,2.2,AS,Turkmenistan,4751120,"December 26, 2012",0.065%,Preliminary 2012 census result,Turkmenistan
163,Tuvalu,6,41,9,1.0,OC,Tuvalu,10640,"November 4, 2012",0.00014%,2012 census result,Tuvalu
164,Uganda,45,9,0,8.3,AF,Uganda,36861000,"July 1, 2016",0.5%,Official annual projection,Uganda
165,Ukraine,206,237,45,8.9,EU,Ukraine[Note 7],42658149,"July 1, 2016",0.58%,Monthly official estimate,Ukraine
166,United Arab Emirates,16,135,5,2.8,AS,United Arab Emirates,9856000,"July 1, 2016",0.13%,Official annual projection,United Arab Emirates
167,United Kingdom,219,126,195,10.4,EU,United Kingdom,65110000,"July 1, 2015",0.89%,Annual official estimate,United Kingdom
168,Tanzania,36,6,1,5.7,AF,Tanzania[Note 6],55155000,"July 1, 2016",0.75%,UN projection,Tanzania
169,Uruguay,115,35,220,6.6,SA,Uruguay,3480222,"June 30, 2016",0.047%,Annual official estimate,Uruguay
170,Uzbekistan,25,101,8,2.4,AS,Uzbekistan,31575300,"January 1, 2016",0.43%,Official estimate,Uzbekistan
171,Vanuatu,21,18,11,0.9,OC,Vanuatu,277500,"July 1, 2015",0.0038%,Annual official estimate,Vanuatu
172,Venezuela,333,100,3,7.7,SA,Venezuela,31028700,"July 1, 2016",0.42%,Official annual projection,Venezuela
173,Vietnam,111,2,1,2.0,AS,Vietnam,92700000,"July 1, 2016",1.26%,Annual official projection,Vietnam
174,Yemen,6,0,0,0.1,AS,Yemen,27478000,"July 1, 2016",0.37%,UN projection,Yemen
175,Zambia,32,19,4,2.5,AF,Zambia,15933883,"July 1, 2016",0.22%,Official annual projection,Zambia
176,Zimbabwe,64,18,4,4.7,AF,Zimbabwe,14240168,"July 1, 2016",0.19%,Official annual projection,Zimbabwe

In [46]:
drinks_extended.country.count()

177

In [47]:
drinks.country.count()

193

In [48]:
drinks_set = set(drinks.country)
drinks_extended_set = set(drinks_extended.country)
drinks_set - drinks_extended_set

{'Antigua & Barbuda',
 'Bosnia-Herzegovina',
 'Cabo Verde',
 'Congo',
 "Cote d'Ivoire",
 'DR Congo',
 'Gambia',
 'Micronesia',
 'Russian Federation',
 'Sao Tome & Principe',
 'St. Kitts & Nevis',
 'St. Lucia',
 'St. Vincent & the Grenadines',
 'Timor-Leste',
 'Trinidad & Tobago',
 'USA'}

Oh dear, the databases disagree about the names of countries.
We have three options for solving this.

We only need to do one of them, but we'll do all three because this
is a training exercise.

# Option 1

Repair after the fact.

We will use an outer join instead of an inner join.

In [49]:
animals = pandas.DataFrame(
  data = {'name': ['Chong', 'Alex', 'Byron', 'James'],
          'fav_animal': ['frog', 'panda', 'dog', 'dog']
          }
)

In [50]:
animals

  fav_animal   name
0       frog  Chong
1      panda   Alex
2        dog  Byron
3        dog  James

In [51]:
favourite_colours = pandas.DataFrame(
  data = {'name': ['Guarav', 'James', 'Chong', 'Alex'],
          'fav_colour': ['Green', 'Blue', 'Orange', 'Blue']}
)
favourite_colours

  fav_colour    name
0      Green  Guarav
1       Blue   James
2     Orange   Chong
3       Blue    Alex

With a **left inner** join (the default), we only get fields that exist in both dataframes.

In [52]:
animals.merge(favourite_colours, on='name')

  fav_animal   name fav_colour
0       frog  Chong     Orange
1      panda   Alex       Blue
2        dog  James       Blue

With a **left outer** join, we get all of the left hand dataframe,
appended with whatever from the right-hand.

In [54]:
animals.merge(favourite_colours, on='name', how='left')

  fav_animal   name fav_colour
0       frog  Chong     Orange
1      panda   Alex       Blue
2        dog  Byron        NaN
3        dog  James       Blue

In [76]:
drinks_outer = drinks.merge(populations, 
                            left_on='country',
                            right_on='Name',
                            how='left'
                            ).copy()

In [77]:
len(drinks_outer)

193

In [78]:
len(drinks)

193

Byron's method for finding dodgy country names...

In [79]:
drinks_outer[drinks_outer.Population.isnull()].country

5                 Antigua & Barbuda
21               Bosnia-Herzegovina
28                    Cote d'Ivoire
29                       Cabo Verde
39                            Congo
47                         DR Congo
63                           Gambia
110                      Micronesia
141              Russian Federation
143               St. Kitts & Nevis
144                       St. Lucia
145    St. Vincent & the Grenadines
148             Sao Tome & Principe
171                     Timor-Leste
174               Trinidad & Tobago
184                             USA
Name: country, dtype: object

In [80]:
populations.Name[populations.Name.str.startswith('Antigua')]

Rank
184    Antigua and Barbuda
Name: Name, dtype: object

In [81]:
populations.Population[populations.Name.str.startswith('Antigua')].median()

86295.0

In the next line, we show that we can assign an integer to a whole bunch
of places in an array.

i.e. we set the populations of all the countries that begin with "Antigua"
to being 7.

(This is wrong of course.)

In [93]:
antigua_idx = drinks_outer[drinks_outer.country.str.startswith('Antigua')].index[0]

In [97]:
drinks_outer.loc[antigua_idx,'Population'] = 7

In [98]:
drinks_outer.loc[antigua_idx,'Population']

7.0

In [99]:
antigua_population = populations.Population[populations.Name.str.startswith('Antigua')].median()
drinks_outer.loc[antigua_idx,'Population'] = antigua_population

In [100]:
drinks_outer[drinks_outer.Population.isnull()].country

21               Bosnia-Herzegovina
28                    Cote d'Ivoire
29                       Cabo Verde
39                            Congo
47                         DR Congo
63                           Gambia
110                      Micronesia
141              Russian Federation
143               St. Kitts & Nevis
144                       St. Lucia
145    St. Vincent & the Grenadines
148             Sao Tome & Principe
171                     Timor-Leste
174               Trinidad & Tobago
184                             USA
Name: country, dtype: object

In [101]:
trinidad_idx = drinks_outer[drinks_outer.country.str.startswith('Trinidad')].index[0]
trinidad_population = populations.Population[populations.Name.str.startswith('Trinidad')].median()
drinks_outer.loc[trinidad_idx,'Population'] = trinidad_population

In [102]:
drinks_outer[drinks_outer.Population.isnull()].country

21               Bosnia-Herzegovina
28                    Cote d'Ivoire
29                       Cabo Verde
39                            Congo
47                         DR Congo
63                           Gambia
110                      Micronesia
141              Russian Federation
143               St. Kitts & Nevis
144                       St. Lucia
145    St. Vincent & the Grenadines
148             Sao Tome & Principe
171                     Timor-Leste
184                             USA
Name: country, dtype: object

... and so on for the other 16 countries, figure out their indexes by hand...

In [108]:
mappings = {
'USA': "United States",
'St. Lucia': "Saint Lucia",
'Micronesia': "Federated States of Micronesia"
}

In [109]:
for (drinks_table_country_name, wikipedia_country_name) in mappings.iteritems():
    idx = drinks_outer[drinks_outer.country == drinks_table_country_name].index[0]
    pop = populations.Population[populations.Name == wikipedia_country_name].median()
    drinks_outer.loc[idx,'Population'] = pop

In [110]:
drinks_outer[drinks_outer.Population.isnull()].country

21               Bosnia-Herzegovina
28                    Cote d'Ivoire
29                       Cabo Verde
39                            Congo
47                         DR Congo
63                           Gambia
141              Russian Federation
143               St. Kitts & Nevis
145    St. Vincent & the Grenadines
148             Sao Tome & Principe
171                     Timor-Leste
Name: country, dtype: object

# Option 2 - Fix the drinks table

In [111]:
def correct_wrong_drinks_table_name(x):
    if x in mappings:
        return mappings[x]
    return x

In [112]:
correct_wrong_drinks_table_name('USA')

'United States'

In [113]:
correct_wrong_drinks_table_name('Australia')

'Australia'

In [114]:
drinks['Option2_Corrected_Name'] = drinks.country.map(correct_wrong_drinks_table_name)

In [115]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,Option2_Corrected_Name
0,Afghanistan,0,0,0,0.0,AS,Afghanistan
1,Albania,89,132,54,4.9,EU,Albania
2,Algeria,25,0,14,0.7,AF,Algeria
3,Andorra,245,138,312,12.4,EU,Andorra
4,Angola,217,57,45,5.9,AF,Angola
5,Antigua & Barbuda,102,128,45,4.9,NaN,Antigua & Barbuda
6,Argentina,193,25,221,8.3,SA,Argentina
7,Armenia,21,179,11,3.8,EU,Armenia
8,Australia,261,72,212,10.4,OC,Australia
9,Austria,279,75,191,9.7,EU,Austria
10,Azerbaijan,21,46,5,1.3,EU,Azerbaijan
11,Bahamas,122,176,51,6.3,NaN,Bahamas
12,Bahrain,42,63,7,2.0,AS,Bahrain
13,Bangladesh,0,0,0,0.0,AS,Bangladesh
14,Barbados,143,173,36,6.3,NaN,Barbados
15,Belarus,142,373,42,14.4,EU,Belarus
16,Belgium,295,84,212,10.5,EU,Belgium
17,Belize,263,114,8,6.8,NaN,Belize
18,Benin,34,4,13,1.1,AF,Benin
19,Bhutan,23,0,0,0.4,AS,Bhutan
20,Bolivia,167,41,8,3.8,SA,Bolivia
21,Bosnia-Herzegovina,76,173,8,4.6,EU,Bosnia-Herzegovina
22,Botswana,173,35,35,5.4,AF,Botswana
23,Brazil,245,145,16,7.2,SA,Brazil
24,Brunei,31,2,1,0.6,AS,Brunei
25,Bulgaria,231,252,94,10.3,EU,Bulgaria
26,Burkina Faso,25,7,7,4.3,AF,Burkina Faso
27,Burundi,88,0,0,6.3,AF,Burundi
28,Cote d'Ivoire,37,1,7,4.0,AF,Cote d'Ivoire
29,Cabo Verde,144,56,16,4.0,AF,Cabo Verde
...,...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA,Suriname
164,Swaziland,90,2,2,4.7,AF,Swaziland
165,Sweden,152,60,186,7.2,EU,Sweden
166,Switzerland,185,100,280,10.2,EU,Switzerland
167,Syria,5,35,16,1.0,AS,Syria
168,Tajikistan,2,15,0,0.3,AS,Tajikistan
169,Thailand,99,258,1,6.4,AS,Thailand
170,Macedonia,106,27,86,3.9,EU,Macedonia
171,Timor-Leste,1,1,4,0.1,AS,Timor-Leste
172,Togo,36,2,19,1.3,AF,Togo
173,Tonga,36,21,5,1.1,OC,Tonga
174,Trinidad & Tobago,197,156,7,6.4,NaN,Trinidad & Tobago
175,Tunisia,51,3,20,1.3,AF,Tunisia
176,Turkey,51,22,7,1.4,AS,Turkey
177,Turkmenistan,19,71,32,2.2,AS,Turkmenistan
178,Tuvalu,6,41,9,1.0,OC,Tuvalu
179,Uganda,45,9,0,8.3,AF,Uganda
180,Ukraine,206,237,45,8.9,EU,Ukraine
181,United Arab Emirates,16,135,5,2.8,AS,United Arab Emirates
182,United Kingdom,219,126,195,10.4,EU,United Kingdom
183,Tanzania,36,6,1,5.7,AF,Tanzania
184,USA,249,158,84,8.7,NaN,United States
185,Uruguay,115,35,220,6.6,SA,Uruguay
186,Uzbekistan,25,101,8,2.4,AS,Uzbekistan
187,Vanuatu,21,18,11,0.9,OC,Vanuatu
188,Venezuela,333,100,3,7.7,SA,Venezuela
189,Vietnam,111,2,1,2.0,AS,Vietnam
190,Yemen,6,0,0,0.1,AS,Yemen
191,Zambia,32,19,4,2.5,AF,Zambia
192,Zimbabwe,64,18,4,4.7,AF,Zimbabwe

In [116]:
option2_drinks = drinks.merge(populations,
                              left_on='Option2_Corrected_Name',
                              right_on='Name')

In [118]:
len(option2_drinks)

180

In [119]:
len(drinks)

193

# Option 3:

Update Wikipedia. Add another column, with the mappings in reverse.

...